.progress-area{
    padding-left: 10px;
}

.progress-bar{
    width: 96%;
    height: 40px;
    border: 1px solid rgba(109, 109, 109, 0.50);
    border-radius: 8px;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    color: white;
    /* background-color: black; */
}

.progress {
    width: 22.5%;
    height: 20px;
    padding: 10px;
    align-self: center;
    border-radius: 8px;
    background-color: #009D06;
    z-index: 10;
}

.space {
    width: 4%;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-left: -15px;
    /* z-index: 9; */
}
.space-extra{
    width: 3%;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-left: -25px;

}

#progress-1{
    z-index: 11;
}

#space-1{
    z-index: 10;
}

#space-1-1{
    z-index: 9;
}

#progress-2{
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    padding-left: 20px;
    margin-left: -9px;
    z-index: 8;
}

#space-2{
    z-index: 7;
}

#space-2-1{
    z-index: 6;
}

#progress-3{
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    padding-left: 20px;
    margin-left: -9px;
    background-color: #D0B216;
    z-index: 5;
}

#space-3{
    z-index: 4;
}

#space-3-1{
    margin-left: -20px;
    z-index: 3;
}

#progress-4{
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    padding-left: 20px;
    margin-left: -9px;
    background-color: rgba(109, 109, 109, 0.50);;
    z-index: 2;
}




